
.action_container{
    display: flex;
    gap: 4px;
}

.button{
    outline: none;
    border: none;
    width: 50%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(169, 214, 231);
}

.button:last-of-type{
    background-color: rgb(244, 199, 199);
}

.modal_action_container{
    display: flex;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.modal_action_button{
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.modal_action_button:last-of-type{
    background-color: #c7ecee;
}

.form{
    width: calc(100%);
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.label{
    font-weight: 600;
}
