.column{
    padding: 10px;
    width: 150px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.column:first-of-type{
    width: 50px;
}

.column:nth-of-type(3){
    width: 50px;
}

@media (max-width: 768px) {
    .column{
        padding: 5px;
    }
    
}