.column{
    padding: 10px;
    width: 150px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.column:first-of-type{
    width: 50px;
    text-align: center;
}

.column:nth-of-type(3){
    width: 50px;
}

.column:nth-last-of-type(2){
    width: 100px;
}

.column:last-of-type{
    text-align: center;
}

@media (max-width: 768px) {
    .column{
        padding: 5px;
        width: 100px;
    }
    
.column:first-of-type{
    width: 40px;
}

.column:nth-of-type(3){
    width: 40px;
}

.column:nth-last-of-type(2){
    width: 80px;
}
}